.VendurPage{
    margin-top: 100px;

    display: flex;


}
.table{
    margin-top: 35px;
width: 82%;
position: relative;
    left: 30px;
    right: 40px;
    display: inline-block;
    margin-bottom: 318px;
}
a{
   text-decoration: none;
   
}
.VendeurNav{
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #b5b5b5;
    width: fit-content;
    height: 90px;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 90px;
    margin-left: 40px;
    left: 10%;
    text-align: justify;
    display: inline-block;
}
.VendeurNav span {
    margin: 30px 20px;
    text-transform: capitalize;
  }
  .VendeurNav .box {
    transition: 0.5s;
    padding: 0 30px;
  }
  
  .VendeurNav .box:hover {
    background-color: #d4e47b;

    cursor: pointer;
  }
.AddBtn{
margin-left: 82%;
    right: 0;
    margin-bottom: 5px;
  }
  .ant-result .ant-result-404 .Exception{
  margin-left: 500px;
  margin-top: 0px;
  margin-bottom: 105px;
}
