.App {
  margin: 0;
  width: 100%;
  padding: 0;
}


.HomeSection {
  display: inline-block;
  width: 100%;
}

/*--------category--------------------*/
.category {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 90px;
  margin-left: 40px;
  left: 10%;
  text-align: justify;
}

.category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}

.category span {
  margin: 10px 20px;
  text-transform: capitalize;
}

.category .box {
  transition: 0.5s;
  padding: 0 20px;
}

.category .box:hover {
  background-color: #d4e47b;
  cursor: pointer;
}

/*--------category--------------------*/
/*--------SlidelSection--------------------*/
.SlideSection {
  margin-left: 300px;
  margin-right: 40px;
  margin-top: -470px;
  height: 300px;

}

.homeSlide h1 {
  font-size: 45px;
  line-height: 55px;
  margin: 50px 0 20px 0;
}

.homeSlide p {
  margin: 20px 0;
}

.homeSlide ul {
  position: absolute;
  bottom: 20px;
}

.homeSlide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}

.homeSlide ul li button {
  background: transparent !important;
  color: transparent !important;
}

.homeSlide ul li button::before {
  font-size: 15px !important;
  color: #0f3460;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}

.homeSlide h1 {
  font-size: 45px;
  line-height: 55px;
  margin: 50px 0 20px 0;
}

.homeSlide p {
  margin: 20px 0;
}

.homeSlide ul {
  position: absolute;
  bottom: 20px;
}

.homeSlide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}

.homeSlide ul li button {
  background: transparent !important;
  color: transparent !important;
}

.homeSlide ul li button::before {
  font-size: 15px !important;
  color: #0f3460;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}

/*--------ArticelSection--------------------*/



/*--------search----------*/
.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  width: 600px;
  height: inherit;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 20px;
}

.search-bar button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search-bar button[type="submit"]:hover {
  background-color: #0062cc;
}